Source: alsa-utils
Priority: optional
Maintainer: Seungbae Shin <seungbae.shin@samsung.com>, JongHyuk Choi <jhchoi.choi@samsung.com>
Uploaders: Seungbae Shin <seungbae.shin@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, libasound2-dev
Standards-Version: 3.7.2
Section: libs

Package: alsa-utils
Section: utils
Architecture: any 
Depends: ${shlibs:Depends}, libasound2
Description: ALSA utility package for multimedia framework middleware package
